body {
  font-family: arial;
  background-image: url('Images/blue-clouds.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


h1, h2, label {
  font-family: helvetica;
  font-weight: bold;
}
